:root {
	--color-accent: #1e8fff;

	--bg-color: #ffffff;
	--text-color: #000000;
	--filter-text-autocomplete-border: #d4d4d4;
	--filter-text-autocomplete-bg: #ffffff;
	--filter-text-autocomplete-bg-hover: #f1f1f1;
	--filter-text-autocomplete-bg-select: var(--color-accent);
	--filter-text-input-bg: #f1f1f1;
	--filter-text-autocomplete-hover: #000000;
	--filter-text-autocomplete-select: #000000;

	--font-family: Helvetica;
	--font-size: 1em;
	--line-height: 1.25em;

	--content-max-width: 800px;
}

/* Light mode */
@media (prefers-color-scheme: light) {}
/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #000000;
		--text-color: #ffffff;
		--filter-text-autocomplete-border: #ffffff;
		--filter-text-autocomplete-bg: #000000;
		--filter-text-autocomplete-bg-hover: #333333;
		--filter-text-autocomplete-bg-select: var(--color-accent);
		--filter-text-autocomplete-hover: #ffffff;
		--filter-text-autocomplete-select: #ffffff;
		--filter-text-input-bg: #333333;
	}
}

body {
	/* Set a background color */
	background-color: var(--bg-color);

	/* Set font properties */
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);
	color: var(--text-color);

	/* Remove all padding and margins */
	padding: 0;
	margin: 0;

	/* Center the content with a max-width */
	margin-left: auto;
	margin-right: auto;
	max-width: var(--content-max-width);
}

section {
	padding: 0;

	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.grid {
	display: grid;
	width: 100%;
	grid-template: "filter-text-input"
	               "filter-text-input-autocomplete-list";
	grid-column-gap: 1em;
	grid-row-gap: 0;
	align-items: center;
	position: relative;
}

*:focus {
	outline: none;
}

#filter-label {
	grid-area: filter-label;
}
#filter-text-input {
	grid-area: filter-text-input;
}
#filter-text-input-autocomplete-list {
	grid-area: filter-text-input-autocomplete-list;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px 0 5px;
}

div.autocomplete-element-container {
	overflow-wrap: break-word;
	border: none !important;
	background-color: transparent !important;
}


/* Based on https://www.w3schools.com/howto/howto_js_autocomplete.asp */


.autocomplete {
	/* the container must be positioned relative: */
}

input {
	border: 1px solid transparent;
	background-color: var(--filter-text-input-bg);
	color: var(--text-color);
	padding: 10px;
	width: calc(100% - 20px);
	font-size: 16px;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid var(--filter-text-autocomplete-border);
	border-bottom: none;
	/* border-top: none; */
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: var(--filter-text-autocomplete-bg);
	border-bottom: 1px solid var(--filter-text-autocomplete-border);
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: var(--filter-text-autocomplete-bg-hover);
	color: var(--filter-text-autocomplete-hover);
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: var(--filter-text-autocomplete-bg-select) !important;
	color: var(--filter-text-autocomplete-select);
}
